<!-- <md-input-container style="width: 100%;">
    <md-select ng-model="List.item.dataSrcSelected" ng-disabled="true" placeholder="{{ListView.formItem.dataSrcSelected.title}}">             
    </md-select>
</md-input-container> -->
<md-input-container style="width: 100%;">
    <input ng-readonly="true" ng-model="ListView.formItem.value"          
           placeholder="{{ListView.formItem.dataSrcSelected.title}}"/>
    <div ng-messages="ListView.form.$error">
      <div ng-message="required">{{ 'REQUIRED' | translate}}</div>
    </div>
  </md-input-container>